<!DOCTYPE html>
html
head
  meta(charset="UTF-8")
  meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    
  title rdzn

  link(rel="stylesheet", href="assets/styles/app.css")
body

  include ../partials/header

  block content

  include ../partials/footer
