@define-mixin respond-to $media {
  @if $media == mob {
    @media (max-width: 768px) { @mixin-content; }
  }
  @if $media == tab {
    @media (max-width: 992px) { @mixin-content; }
  }
  @if $media == desk {
    @media (max-width: 1200px) { @mixin-content; }
  }
}

@define-mixin flex-box {
  display: flex;
  justify-content: space-between;
  @mixin respond-to tab {
    flex-wrap: wrap;
  }
}

@define-mixin icon $name {
  background-image: url(../images/icons/$name.png);
  background-repeat: no-repeat;
}

@define-mixin border-top{
  &:before{
    position: absolute;
    content: ' ';
    width: 100%;
    height: 3px;
    top: 0px;
    transform: rotate(180deg);
    background-size: 6px 3px;
    background-image: url(../images/border.png);
    z-index: 100;
  }
} 
  
@define-mixin border-bottom{
  &:after{
    position: absolute;
    content: ' ';
    width: 100%;
    height: 3px;
    bottom: 0px;
    background-size: 6px 3px;
    background-image: url(../images/border.png);
    z-index: 100;
  }
} 
