h1{
  font-size: 5.1rem;
  line-height: 1.13;
  margin: 0 0 20px;
  @mixin respond-to tab {
    font-size: 4.3rem;
  }
  @mixin respond-to mob {
    font-size: 2.4rem;
    text-align: center;
  }
}

h2{
  font-size: 2.4rem;
  line-height: 1.04;
  margin: 0;
  margin: 0 0 10px;
  @mixin respond-to tab {
    font-size: 2.2rem;
  }
  @mixin respond-to mob {
    font-size: 1.5rem;
    text-align: center;
  }
}

h3{
  font-size: .9rem;
  line-height: 1.3;
  margin: 0;
  @mixin respond-to tab {
    font-size: .7rem;
  }
  @mixin respond-to mob {
    font-size: .9rem;
  }
}

h4{
  font-size: .7rem;
  line-height: 1.7;
  margin: 0;
  @mixin respond-to mob {
    font-size: .6rem;
  }
}

p{
  font-size: .9rem;
  line-height: 1.38;
  margin: 0;
  font-weight: 400;
  @mixin respond-to tab {
    font-size: .8rem;
    line-height: 1.6;
  }
}

p.small{
  font-size: .7rem;
  line-height: 1.4;
  margin: 0;
  @mixin respond-to mob {
    font-size: .6rem;
  }
}
