:root {
  --color-main: rgb(0, 0, 0);
  --color-alt: rgb(217, 217, 217);
  --color-red: rgb(188, 34, 77);
  --color-white: rgb(255, 255, 255);
  --color-hover: rgb(253, 130, 48);

  --font-main: 'Humanist521BT-Roman', sans-serif;
}
