mixin security(options)
  -
    options = options || {};
    options.image = options.image || "";
    options.title = options.title || "Браслет безопасности";
    options.text = options.text || "Уникальный браслет безопасности гарантирует родителям, что дети не потеряются.";

  
  .security-item
    .security-item-title  
      .security-item-image
        img.security-item-image--left(src="assets/images/#{options.image}")
      h3= options.title
    p= options.text


