mixin travel(options)
  -
    options = options || {};
    options.image = options.image || "";
    options.title = options.title || "Билет на самолет";
    options.text = options.text || "Регулярный рейс по направлению Москва — Кидзания.";

  .travel-item
    img.travel-item-img(src="/assets/images/#{options.image}")
    h4.travel-item-title= options.title
    p.small.travel-item-text= options.text


