footer.footer
  .content
    ul.footer-menu
      li.footer-menu-item
        a(href="#") Кидзанья Москва
      li.footer-menu-item.footer-menu-item--selected
        a(href="#") Что такое Кидзанья?
      li.footer-menu-item
        a(href="#") Вакансии
      li.footer-menu-item
        a(href="#") Билеты
      li.footer-menu-item.footer-menu-item--not-active
        span Кидзанья в мире
      li.footer-menu-item.footer-menu-item--not-active
        span Активности
    span.footer-info ©2015, KidZania, and all related characters and elements are trademarks of KidZania de México S.A. de C.V. All Rights Reserved <a href="#">Privacy Policy</a>
