header.header
  .content
    .menu-mob-icon
    a.header-logo(href="#")
    .header-social
      a.social-item.icon-vkontakte(href="#")
      a.social-item.icon-facebook(href="#")
      a.social-item.icon-instagram(href="#")
    .header-menu
      a.header-menu-item.header-menu-item--selected(href="#") Что такое Кидзанья?
      a.header-menu-item(href="#") Вакансии
      span.header-menu-item.header-menu-item--not-active Кидзанья в мире
      span.header-menu-item.header-menu-item--not-active Активности
      span.header-menu-item.header-menu-item--not-active Билеты
      a.btn-lang(href="#") 
        img.lang(src="assets/images/lang.png")
        span Русский
