*,
*:before,
*:after {
  box-sizing: border-box;
}

menu,
ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: var(--color-red);
  text-decoration: none;
  transition: color .3s;
  &:hover {
    color: var(--color-hover);
  }
}

html {
  font-size: 20px;
/*  @mixin respond-to tab {
    font-size: 18px;
  }
  @mixin respond-to mob {
    font-size: 16px;
  }*/
}

body {
  font: 400 .9rem/1.4 var(--font-main);
  font-smoothing: antialiased;
  overflow-x: hidden;
}

.content {
  max-width: 1280px;
  padding: 0 25px;
  margin: 0 auto;
  @mixin respond-to tab {
    padding: 0 20px;
  }
  @mixin respond-to mob {
    padding: 0 20px;
  }
  &.is__left{
    padding-left: 90px;
    @mixin respond-to tab {
      padding-left: 75px;
    }
    @mixin respond-to mob {
      padding: 30px;
    }
  }
}

.content-holder {
  max-width: 510px;
  @mixin respond-to tab {
    max-width: 90%;
  }
  @mixin respond-to mob {
    max-width: 100%;
  }
}


.work,
.travel,
.earn,
.partners,
.security {
  h2 {
    position: relative;
    &:before {
      display: block;
      position: absolute;
      content: ' ';
      width: 60px;
      height: 155px;
      top: -65px;
      left: -70px;
      @mixin respond-to mob {
        width: 100%;
        left: 0;
        background-position: center;
        margin-top: -10px;
        height: 62px;
      }
    }
  }
}

.what 
  h1 {
    position: relative;
    &:before {
      display: block;
      position: absolute;
      content: ' ';
      width: 60px;
      height: 155px;
      top: -16px;
      left: -70px;
      @mixin respond-to mob {
        width: 100%;
        left: 0;
        background-position: center;
        background-size: 42px 112px;
        margin-top: -82px;
        margin-left: -12px;
      }
    }
  }

.what h1:before { @mixin icon what; }
.work h2:before { @mixin icon work; }
.travel h2:before { @mixin icon trav; }
.earn h2:before { 
  @mixin icon earn; 
  top: -30px;
  @mixin respond-to mob {
    background-position: 50% 40%;
  }
}

.partners h2:before { @mixin icon part; }
.security h2:before { @mixin icon sec; }
