.earn {
  padding: 75px 0 55px;
  .content {
    padding-right: 60px;
    @mixin flex-box;
    @mixin respond-to tab { 
      position: relative;
    }
    @mixin respond-to mob { 
      position: relative;
      padding-right: 30px;
    }
  }
  .content-holder {
    @mixin respond-to tab { 
      max-width: 100%;
    }
  }
  @mixin respond-to tab {
    padding: 75px 0 5px;
  }
  @mixin respond-to mob {
    padding: 70px 0 0;
  }
}

.content-holder-aside {
  max-width: 100%;
  img {
    display: inline-block;
    max-width: 350px;
    margin: 20px 0;
    @mixin respond-to tab { 
      max-width: 77%;
      margin: 45px 0;
      &:last-child {
        max-width: 95%;
      }
    }
    @mixin respond-to mob { 
      max-width: 100%;
      min-width: 280px;
      margin: 20px auto;
    }
    &:last-child {
      max-width: 500px;
      @mixin respond-to tab { 
        max-width: 320px;
        width: 100%;
        margin: 20px auto;
      }
    }
  }
  @mixin respond-to tab { 
    margin-top: 30px;
    max-width: 60%;
  }
  @mixin respond-to mob { 
    max-width: 100%;
  }
  .earn-terminal-desc-mob {
    img {
      display: block;
    }
  }
}

.earn-terminal {
  max-width: 210px;
  position: relative;
  &:before {
    display: block;
    position: absolute;
    content: ' ';
    top: 5px;
    left: -40px;
    width: 32px;
    height: 29px;
    @mixin icon card;
    @mixin respond-to mob {
      left: 40px;
    }
  }
}

p.small.earn-terminal {
  margin: 20px auto 0;
}

.earn-terminal-desc {
  max-width: 510px;
  width: 100%;
  img {
    @mixin respond-to desk {
      width: 230px;
      margin: 0 0 20px 105px;
    }
    @mixin respond-to tab {
      margin: 0 0 20px -75px;
    }
  }
  @mixin respond-to tab {
    position: absolute;
    width: 140px;
    bottom: 10px;
    right: 70px;
  }
  @mixin respond-to mob { 
    display: none;
  }
  p {
    @mixin respond-to mob { 
      position: absolute;
      top: -150px;
      max-width: 100%;
      padding: 0 25px 0 80px;
    }
  }
}

.travel-item-img:last-child {
  @mixin respond-to mob {
    display: none;
  }
}

.travel-item-img-mob {
  display: none;
  @mixin respond-to mob { 
    display: block;
    margin-top: 30px;
    max-width: 320px;
    width: 100%;
  }
}

.earn-terminal-desc-mob {
  display: none;
  @mixin respond-to mob {
    display: block;
    position: static;
  }
  .earn-terminal {
    width: 100%;
    max-width: 100%;
    padding-left: 50px;
    &:before {
      left: 0px;
    }
  }
  img {
    display: block;
    position: static;
  }
}
