.footer {
  padding-bottom: 65px;
  @mixin respond-to tab {
    padding: 55px 0 50px;
  }
  .content {
    @mixin respond-to tab {
      padding: 0 10px;
    }
    @mixin respond-to mob {
      padding: 0 25px;
    }
  }
}

.footer-menu {
  margin-top: 5px;
  text-align: center;
  &:before {
    display: inline-block;
    content: '';
    height: 56px;
    width: 0;
    vertical-align: middle;
    @mixin respond-to mob {
      display: none;
    }
  }
}

.footer-menu-item {
  display: inline-block;
  vertical-align: middle;
  font-size: .8rem; 
  color: var(--color-red);
  margin: 0 15px;
  &.footer-menu-item--selected a{
    color: var(--color-main);
    padding: 4px 10px;
    background-color: var(--color-alt);
    border-radius: 50px;
    margin-right: 5px;
  }
  &.footer-menu-item--not-active {
    color: var(--color-alt);
    position: relative;
  }
  @mixin respond-to tab {
    margin: 0 5px;
  }
  @mixin respond-to mob {
    display: block;
    text-align: left;
    font-size: .7rem;
    width: 100%;
    margin: 10px 0;
  }
}

.footer-info {
  font-size: .75em;
  text-align: center;
  display: inline-block;
  width: 100%;
  @mixin respond-to mob {
    text-align: left;
    font-size: .7rem;
    margin-top: 20px;
  }
}
