.header {
  padding: 27px 0;
  & .content {
    @mixin flex-box;
  }
  @mixin respond-to tab {
    padding: 77px 0 50px;
  }
  @mixin respond-to mob {
    padding: 22px 0 30px;
  }
}

.menu-mob-icon{
  display: none;
  position: relative;
  width: 32px;
  height: 20px;
  cursor: pointer;
  margin-right: 35px;
  &:before {
    display: block;
    position: absolute;
    content: ' ';
    top: 0;
    left: 0;
    height: 7px;
    width: 100%;
    background-color: var(--color-red);
  }
  &:after {
    display: block;
    position: absolute;
    content: ' ';
    bottom: 0;
    left: 0;
    height: 7px;
    width: 100%;
    background-color: var(--color-red);
  }
  @mixin respond-to tab {
    display: block;
  }
}

.header-logo {
  width: 235px;
  height: 56px;
  @mixin icon logo;
  background-size: contain;
  background-position: center;
  @mixin respond-to desk {
    width: 170px;
  }
  @mixin respond-to tab {
    background-image: url(../images/logo.jpg); 
    width: 180px;
    height: 127px;
    margin-top: -45px;
    background-size: cover;
  }
  @mixin respond-to mob {
    width: 110px;
    height: 79px;
    margin-top: 10px;
  }
}

.social-item {
  color: var(--color-red);
  margin-right: 10px;
  margin-left: 10px;
  vertical-align: middle;
}

.header-social, 
.header-menu, 
.menu-lang {
  &:before {
    display: inline-block;
    content: '';
    height: 56px;
    width: 0;
    vertical-align: middle;
  }
}

.header-menu-item {
  display: inline-block;
  vertical-align: middle;
  font-size: .7rem; 
  color: var(--color-red);
  margin: 0 22px;
  &.header-menu-item--selected {
    color: var(--color-main);
    padding: 4px 10px;
    background-color: var(--color-alt);
    border-radius: 50px;
    margin-right: 5px;
  }
  &.header-menu-item--not-active {
    color: var(--color-alt);
    position: relative;
    &:after {
      display: block;
      content: 'Скоро';
      position: absolute;
      left: 0px;
      bottom: -15px;
      font-size: 14px;
    }
  }
  @mixin respond-to desk {
    font-size: .7rem
  }
  @mixin respond-to tab {
    display: none;
  }
}

.header-social {
  @mixin respond-to desk {
    display: none;
  }
}

.btn-lang {
  position: relative;
  display: inline-block;
  font-size: 15px;
  color: var(--color-red);
  border-radius: 4px;
  border: 2px solid var(--color-red);
  padding: 2px 28px 3px 4px;
  margin-left: 15px;
  transition: none;
  &:hover {
    color: var(--color-red);
  }
  &:after {
    display: block;
    content: ' ';
    position: absolute;
    bottom: 10px;
    right: 11px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid var(--color-red);
  }
  @mixin respond-to tab {
    margin: 0;
    vertical-align: top;
  }
  span {
    @mixin respond-to tab {
      display: none;
    }
  }
}

.lang {
  display: none;
  @mixin respond-to tab {
    display: block;
  }
}
