.join {
  padding: 85px 0 100px;
  .content {
    text-align: center;
  }
  @mixin respond-to tab {
    padding: 140px 0 100px;
  }
  @mixin respond-to mob {
    padding: 0 0 50px;
  }

}

.join-info {
  display: inline-block;
  width: 370px;
  vertical-align: middle;
  text-align: left;
  margin: 10px 0 0 0;
  padding-left: 35px;
  @mixin respond-to tab {
    max-width: 330px;
    margin: -50px 0 0 0;
  }
  @mixin respond-to mob {
    position: relative;
    text-align: center;
    width: 100%;
    max-width: 100%;
    padding: 0;
  }
}

.join-image {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 354px;
  height: 354px;
  background-image: url(../images/joinus.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin-right: 10px;
  &:after {
    display: block;
    content: ' ';
    position: absolute;
    top: -9px;
    left: -9px;
    width: 372px;
    height: 372px;
    background-image: url(../images/joinusborder.png);
    background-size: cover;
    @mixin respond-to tab {
      width: 293px;
      height: 293px;
      top: -6px;
      left: -6px;
    }
    @mixin respond-to mob {
      width: 270px;
      height: 270px;
      top: -5px;
      left: -5px;
    }
  }
  @mixin respond-to tab {
    width: 280px;
    height: 280px;
    margin-right: 0;
  }
  @mixin respond-to mob {
    width: 260px;
    height: 260px;
    margin-top: 100px;
  }
}

.join-info-readmore {
  font-size: .9rem; 
  color: var(--color-alt);
  @mixin respond-to mob {
    position: absolute;
    top: -290px;
    left: 0;
    width: 100%;
    text-align: center;
  }
}
.join-info-title {
  font-size: 1.3rem;
  margin: 30px 0 20px 40px;
  position: relative;   
  @mixin respond-to mob {
    margin: 85px auto 20px;
  }
  &:before {
    display: block;
    content: ' ';
    position: absolute;
    top: -13px;
    left: -40px;
    width: 30px;
    height: 46px;
    @mixin icon joinus;   
    @mixin respond-to mob {
      left: 0;
      position: static;
      margin: 0 auto;
      width: 25px;
      height: 36px;
      background-size: contain;
    }
  }
}
.join-info-text {
  font-size: .9rem;
  line-height: 1.3;
  @mixin respond-to mob {
    font-size: .7rem;
  }
}
.join-info-vacancy {
  display: block;
  width: 200px;
  margin-top: 30px;
  text-align: center;
  font-size: .9rem;
  color: var(--color-red);
  border-radius: 4px;
  border: 2px solid var(--color-red);
  padding: 5px 0;
  transition: none;
  &:hover {
    color: var(--color-red);
  }
  @mixin respond-to mob {
    margin: 20px auto 0;
    padding: 12px 0;
    border-radius: 100px;
    width: 250px;
  }
}

