.partners {
  padding: 65px 0 35px;
  @mixin respond-to tab { 
  	padding: 135px 0 35px; 
  }
}

.partners-items {
  @mixin flex-box;
}

.partners-item {
  max-width: 500px;
  margin-right: 70px;
  @mixin respond-to tab {
  	max-width: 100%;
  	margin: 10px 0 10px;
  }
}

