.security {
  padding: 80px 0 125px;
  @mixin respond-to tab {
    padding: 80px 0 0px;
  }
  @mixin respond-to mob {
    padding: 70px 0 0px;
  }
}

.security-items {
  @mixin flex-box;
  margin-top: 70px;
  @mixin respond-to tab {
    margin-top: 40px;
  }
}

.security-item {
  max-width: 33.3%;
  p {
    @mixin respond-to tab {
      font-size: .7rem;
      line-height: 1.4;
    }
    @mixin respond-to mob {
      font-size: .8rem;
    }
  }
  @mixin respond-to tab {
    width: 31%;
  }
  @mixin respond-to mob {
    max-width: 100%;
    width: 100%;
    margin: 20px 0;
  }
}

.security-item-title {
  margin-bottom: 20px;
  display: flex;
  @mixin respond-to tab {
    display: block;
  }
  h3 {
    max-width: 150px;
    margin: 30px 0 0 30px;
    @mixin respond-to tab {
      max-width: 100%;
      margin: 0 0 -15px 0;
    }
  }
}

.security-item-image {
  max-height: 80px;
  min-width: 65px;
  @mixin respond-to tab {
    display: block;
  }
}

.security-item-image--left {
  height: auto;
  width: auto;
  @mixin respond-to tab {
    display: block;
    margin: 0 0 25px 25%;
    padding: 0;
    max-height: 70px;
  }
  @mixin respond-to mob {
    display: block;
    margin: 0 auto 23px;
    padding: 0;
    max-height: 110px;
  }
}
