.gallery, 
.gallery-partners {
  position: relative;
  @mixin border-top;
  @mixin border-bottom;
}

.gallery-item {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-position: center;
  background-size: cover;
}

.gallery .gallery-ui-holder {
  position: relative;
  min-height: 850px;
  @mixin respond-to tab {
    min-height: 600px;
    margin-top: -30px;
  }
  @mixin respond-to mob {
    min-height: 210px;
  }
}

.gallery-arrow {
  position: absolute;
  height: 41px;
  width: 25px;
  z-index: 1000;
  top: 0px;
  bottom: 0px;
  cursor: pointer;
  top: 50%;
  margin-top: -10px;
  @mixin icon arrow;
}

.gallery-arrow-prev {
  left: 10px;
}

.gallery-arrpw-next {
  right: 10px;
  transform: rotate(180deg);
}

.gallery-dots {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 35px;
  margin: 0 auto;
  z-index: 1000;
  text-align: center;
  @mixin respond-to mob {
    bottom: 10px;
  }
}

.gallery-dot {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  cursor: pointer;
  &:after {
    position: absolute;
    display: block;
    content: ' ';
    width: 6px;
    height: 6px;
    top: 8px;
    left: 8px;
    border-radius: 50%;
    background-color: var(--color-alt);
    transition: background-color .3s;
  }
  &:hover {
    &:after {
    background-color: var(--color-hover);
    }
  }
}

.gallery-partners 
.gallery-ui-holder {
  position: relative;
  min-height: 745px;
  @mixin respond-to tab {
    min-height: 600px;
  }
  @mixin respond-to mob {
    min-height: 210px;
  }
  .gallery-dots {
    bottom: 20px;
  }
  .gallery-dot{
    width: auto;
    height: auto;
    background: none;
    opacity: .5;
    &.gallery-dot--active {
      opacity: 1;
    }
  }
}
