.social {
  position: relative;
  padding: 55px 0;
  @mixin border-top;
  @mixin border-bottom;
  background-image: url(../images/pattern.png);
  h2 {
    @mixin respond-to mob {
      text-align: left;
      font-size: 1.8;
    }
  }
  @mixin respond-to mob {
    padding-bottom: 0;
  }
}

.follow-widgets {
  @mixin flex-box;
  margin-top: 15px;
  @mixin respond-to desk {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.follow-widgets-item {
  max-width: 260px;
  height: 320px;
  width: 100%;
  box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.3);
  @mixin respond-to desk {
    margin: 20px auto;
    flex-wrap: wrap;
  }
  @mixin respond-to mob {
    margin-left: 0;
    margin-right: 0;
  }
  &:last-child {
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    background-image: url(../images/hand.png);
    background-repeat: no-repeat;
    background-position: 50% 45px;
    @mixin respond-to desk {
      margin-bottom: -120px;
    }
  }
}

.follow-widgets-item-hash {
  color: var(--color-red);
  display: inline-block;
  text-align: center;
  width: 100%;
  margin: 63px 0 0 -5px;
  transform: rotate(7deg);
}

.follow-widgets-item-more {
  font-size: .7rem;
  line-height: 1.2;
  display: block;
  margin: 50px auto 0;
  max-width: 180px;
  text-align: center;
  font-weight: 700;
}
