.ticket {
  padding: 55px 0 15px;
  @mixin respond-to tab {
    padding: 0;
    max-width: 768px;
    margin: 0 auto;
  }
  @mixin respond-to mob {
    width: 320px;
    margin: 0 auto;
    position: relative;
  }
  &:before{
    display: none;
    position: absolute;
    z-index: -1;
    content: ' ';
    width: 320px;
    height: 909px;
    top: 400px;
    left: 2px;
    background-image: url(../images/ticketmob-bg.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    @mixin respond-to mob {
      display: block;
    }
  }
  .content {
    min-height: 460px;
    background-image: url(../images/ticket-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    @mixin respond-to tab {
      background-position: 102.8% 410px;
    }
    @mixin respond-to mob {
      background: none;
    }
  }
}

.ticket-holder {
  @mixin flex-box;
  max-width: 1100px;
  padding: 65px 0 45px;
  font-size: .9rem;
  line-height: 1.3;
  @mixin respond-to tab {
    max-width: 1200px;
    padding: 50px 0 75px;
    flex-wrap: wrap;
  }
  @mixin respond-to mob {
    padding: 0;
    margin: -50px 0 0 0;
  }
}

.ticket-item {
  width: 100%;
  max-width: 400px;
  padding: 0 35px;
  @mixin respond-to tab {
    max-width: 50%;
    padding: 0 60px 0 0;
  }
  @mixin respond-to mob {
    max-width: 100%;
    padding: 0;
  }
  &:first-child{
    max-width: 340px;
    padding: 0;
    text-align: center;
    border-right: 1px solid rgb(242, 242, 242);
    @mixin respond-to desk {
      max-width: 40%;
    }
    @mixin respond-to tab {
      max-width: 100%;
      @mixin flex-box;
      border: 0px;
      margin-bottom: 125px;
      padding: 0;
    }
    @mixin respond-to tab {
      margin-bottom: 110px;
    }
    .ticket-item-contacts-phone {
      padding-right: 26px;
      position: relative;
      &:after {
        display: block;
        position: absolute;
        content: '|';
        right: 9px;
        top: -2px;
        color: var(--color-main);
      }
    }
  }
  &:last-child{
    max-width: 360px;
    padding: 0 30px 0 45px;
    @mixin respond-to tab {
      max-width: 50%;
      padding: 0 0 0 10px;
    }
    @mixin respond-to mob {
      max-width: 100%;
      margin-top: 55px;
      padding: 0;
    }
  }
  p{
    font-size: .9rem;
    line-height: 1.3;
    margin: 10px 0 15px;
    @mixin respond-to desk {
      font-size: .7rem;
    }
  }
}

.ticket-item-logo {
  height: 162px;
  margin-bottom: 30px;
  background-image: url(../images/logo.jpg);
  background-position: 50% center;
  background-repeat: no-repeat;
  @mixin respond-to tab {
    max-width: 100%;
    width: 45%;
    background-position: 5% center;
    padding: 140px 0 170px;
    border-right: 1px solid rgb(242, 242, 242); 
  }
  @mixin respond-to mob {
    width: 100%;
    background-position: center;
    border: 0;
  }
}

.ticket-item-contacts-info {
  @mixin respond-to desk {
    font-size: .7rem;
  }
  @mixin respond-to tab {
    max-width: 100%;
    width: 50%;
    padding: 95px 0 0;
  }
  @mixin respond-to mob {
    width: 100%;
    padding: 0;
    margin-top: -75px;
  }
}

.ticket-item-adress {
  max-width: 240px;
  margin: 0 auto 25px;
}

.ticket-item-contacts-phone,
.ticket-item-contacts-mail {
  color: var(--color-red);
}

.ticket-item-contacts-social {
  margin-top: 25px;
  font-size: .8rem;
}

.ticket-item-title {
  font-size: .9rem;
  margin: -10px 0 0;
  @mixin respond-to desk {
    font-size: .8rem;
  }
}

.ticket-item-time-holder,
.ticket-item-categories-holder {
  @mixin flex-box;
  flex-wrap: wrap;
}

.ticket-item-time-holder {
  margin-top: -15px;
}

.ticket-item-categories-holder {
  margin-top: 15px;
}

.ticket-item-time-item {
  max-width: 165px;
  width: 100%;
  margin: 0 0 -15px;
  @mixin respond-to tab {
    max-width: 50%;
  }
  @mixin respond-to mob {
    max-width: 100%;
    margin: 10px 0;
  }
}

p.ticket-item-time-text {
  font-size: .6rem;
  span {
    display: inline-block;
    font-weight: 700;
    font-size: .9rem;
    @mixin respond-to tab {
      display: block;
    }
  }
}

.ticket-item-category {
  max-width: 140px;
  width: 100%;
  padding-right: 10px;
  @mixin respond-to mob {
    max-width: 125px;
    padding-right: 0;
  }
}

.ticket-item-category-image--left,
.ticket-item-category-text {
  display: inline-block;
  vertical-align: middle;
}

.ticket-item-category-image--left {
  max-width: 30px;
  margin-right: 5px;
  @mixin respond-to tab {
    margin-right: 10px;
  }
}

p.ticket-item-category-text {
  max-width: 80px;
  font-size: .7rem;
  span {
    display: block;
    font-weight: 700;
  }
  @mixin respond-to desk {
    font-size: .6rem;
  }
}

.ticket-buy {
  display: block;
  max-width: 233px;
  margin: 30px auto 0;
  padding: 15px;
  font-size: .9rem;
  font-weight: 700;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-red);
  border-radius: 50px;
  transition: none;
  &:hover {
    color: var(--color-white);
  }
  @mixin respond-to desk {
    margin-top: 10px;
  }
  @mixin respond-to tab {
    margin-top: 30px;
  }
}
