.travel {
  padding: 65px 0 75px;
  @mixin respond-to tab {
    padding: 160px 0 75px;
  }
  @mixin respond-to mob {
    padding: 125px 0 75px;
  }
}

.travel-items {
  display: flex;
  padding: 0 40px;
  margin-top: 20px;
  @mixin respond-to desk {
    flex-wrap: wrap;
  }
  @mixin respond-to tab {
    padding: 0;
    margin: 0 0 0 -50px;
  }
  @mixin respond-to mob {
    margin-top: 30px ;
  }
}

.travel-item {
  max-width: 200px;
  h4.travel-item-title {
  	margin-top: -10px;
  }
  h4.travel-item-title, 
  p.travel-item-text {
    margin-left: 30px;
    @mixin respond-to tab {
      margin-left: 50px;
    }
  }
  &:nth-child(2n+1) {
    .travel-item-img  {
      @mixin respond-to mob {
        float: left;
        width: 190px;
        margin-top: -60px;
        margin-right: 10px;
      }
    }
  }
  &:nth-child(2n) {
    .travel-item-img  {
      @mixin respond-to mob {
        float: right;
        width: 120px;
        margin-top: -30px;
      }
    }
  }
  @mixin respond-to tab {
    max-width: 30.5%;
    margin-bottom: 60px;
  }
  @mixin respond-to mob {
    max-width: 100%;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 30px;
  }
}

.travel-item-img-mob {
  margin: 0 auto;
}
