.what{
  background: url(../images/doctor.png) var(--color-alt) 85% 0 no-repeat;
  padding: 125px 0 90px;
  position: relative;
  @mixin border-bottom;
  .what-title{
    color: var(--color-white);
  }
  @mixin respond-to tab {
    background: url(../images/doctor.png) var(--color-alt) 100% 0 no-repeat;
    background-size: 60% auto;
    padding: 110px 0 165px;
  }
  @mixin respond-to mob {
    background: url(../images/doctor-small.png) var(--color-alt) no-repeat;
    background-size: auto 740px;
    background-position: center 330px;
    padding: 45px 0 520px;
  }
  .content-holder {
    @mixin respond-to tab {
      max-width: 60%
    }
    @mixin respond-to mob {
      max-width: 100%
    }
  }
}
