.work{
  padding: 100px 0 195px;
  background: url(../images/work.jpg) 85% 40px no-repeat;
  @mixin respond-to desk {
    background-size: 35% auto;
  }
  @mixin respond-to tab {
    background-size: 65% auto;
    background-position: center bottom;
    padding: 50px 0 60%;
  }
  @mixin respond-to mob {
    background-size: 100% auto;
    background-position: center bottom;
    padding: 40px 0 100%;
  }
}
