extends layout/l

include mixins/travel
include mixins/security

block content
  section.what
    .content.is__left
      .content-holder
        h1.what-title Что такое Кидзания?
        p Кидзания — это всемирная сеть образовательных парков, где дети в игровой форме получают навыки реальных профессий. В московской Кидзании будет более 100 самых разных специальностей.

  section.work
    .content.is__left
      .content-holder
        h2 Работай, зарабатывай, играй!
        p Дети обналичивают выданную в аэропорту карточку и получают кидзо — деньги Кидзании. Они могут потратить свои кидзо, как захотят: посмотреть представление, поесть в кафе или посетить салон красоты. Но когда деньги закончатся, им придется пойти на работу — совсем как в реальной жизни.

  section.travel
    .content.is__left
      .content-holder
        h2 Все по-настоящему
        p Путешествие в Кидзанию начинается так же, как и многие взрослые путешествия — в аэропорту.
      .travel-items
        +travel({image:'t1.png', title:'Билет на самолет', text:'Регулярный рейс по направлению Москва — Кидзания.'})
        +travel({image:'t2.png', title:'Банковская карта', text:'Дети обналичивают карту и получают кидзо — официальную валюту Кидзании.'})
        +travel({image:'t3.png', title:'Страховка', text:'Чтобы попасть в другую страну, обязательно нужна страховка.'})
        +travel({image:'t4.png', title:'Карта города', text:'Города Кизании достаточно большие — чтобы найти нужное место, воспользуйтесь картой.'})
        +travel({image:'t5.png', title:'Браслет', text:'Уникальный браслет безопасности гарантирует родителям, что дети не потеряются.'})

  section.gallery
    .gallery-item(style='background-image: url(assets/images/slide1.jpg)')
    .content.gallery-ui-holder
      .gallery-arrow.gallery-arrow-prev
      .gallery-arrow.gallery-arrpw-next
      .gallery-dots
        .gallery-dot
        .gallery-dot
        .gallery-dot

  section.earn
    .content.is__left
        .content-holder
          h2 Работай, зарабатывай, играй!
          p Дети обналичивают выданную в аэропорту карточку и получают кидзо — деньги Кидзании. Они могут потратить свои кидзо, как захотят: посмотреть представление, поесть в кафе или посетить салон красоты. Но когда деньги закончатся, им придется пойти на работу — совсем как в реальной жизни.
          .content-holder-aside
            img.travel-item-img(src="assets/images/card.jpg")
            .earn-terminal-desc-mob
              p.small.earn-terminal В Кидзании есть настоящие банкоматы. С их помощью можно  снять деньги с банковской карты, которую ребенок получает по прибытию в Кидзанию
              img.travel-item-img(src="assets/images/terminal.jpg")
            p Заработанные деньги ребенок может потратить в парке или положить на счет в банке Кидзании и получать проценты.
            img.travel-item-img(src="assets/images/money.jpg")
          img.travel-item-img-mob(src="assets/images/moneymob.jpg")
        .content-holder.earn-terminal-desc
          img.travel-item-img(src="assets/images/terminal.jpg")
          p.small.earn-terminal В Кидзании есть настоящие банкоматы. С их помощью можно  снять деньги с банковской карты, которую ребенок получает по прибытию в Кидзанию

  section.partners
    .content.is__left
      h2 Партнеры
      .partners-items
        .partners-item
          h3 Огромный опыт
          p Активности в парках создаются на основе огромного опыта Кидзании и ее партнеров, накопленного за 16 лет.
        .partners-item
          h3 Экспертиза
          p Каждый партнер Кидзании — безусловный эксперт в своей области. Именно поэтому все активности в парке выгладят и функционируют как настоящие предприятия.

  section.gallery-partners
    .gallery-item(style='background-image: url(assets/images/slidepartners1.jpg)')
    .content.gallery-ui-holder
      .gallery-arrow.gallery-arrow-prev
      .gallery-arrow.gallery-arrpw-next
      .gallery-dots
        .gallery-dot.gallery-dot--active
          img.gallery-parner(src="assets/images/icons/p1.png")
        .gallery-dot
          img.gallery-parner(src="assets/images/icons/p2.png")
        .gallery-dot
          img.gallery-parner(src="assets/images/icons/p3.png")
        .gallery-dot
          img.gallery-parner(src="assets/images/icons/p4.png")
        .gallery-dot
          img.gallery-parner(src="assets/images/icons/p5.png")
        .gallery-dot
          img.gallery-parner(src="assets/images/icons/p6.png")

  section.security
    .content.is__left
      h2 Безопасность и доступность
      .security-items
        +security({image: 'sec1.jpg', title:'Браслет безопасности', text:'Уникальный браслет безопасности гарантирует родителям, что дети не потеряются.'})
        +security({image: 'sec2.jpg', title:'Внимательные супервайзеры', text:'За детьми внимательно следят наши супервайзеры, которые всегда готовы прийти на помощь.'})
        +security({image: 'sec3.jpg', title:'Инклюзивность', text:'Кидзания полностью адаптирована для людей с ограниченными возможностями.'})

  section.join
    .content
      .join-image
      .join-info
        span.join-info-readmore Полезное на сайте:
        h3.join-info-title Вакансии в Кидзании
        p.join-info-text Понравился наш проект и хотите присоединиться к команде Кидзании?
        a.join-info-vacancy(href="#") Смотреть вакансии

  section.social
    .content.is__left
      .content-holder
        h2 Кидзания в соцсетях
        p Подписывайтесь на наши группы в социальных сетях, чтобы быть в курсе последних новостей московской Кидзании

      .follow-widgets
        .follow-widgets-item
          iframe(name='fd544bb74', width='1000px', height='320px', frameborder='0', allowtransparency='true', allowfullscreen='true', scrolling='no', title='fb:page Facebook Social Plugin', src='https://www.facebook.com/v2.3/plugins/page.php?adapt_container_width=true&app_id=&channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D42%23cb%3Df1b0444274%26domain%3Dkidzania.ru%26origin%3Dhttps%253A%252F%252Fkidzania.ru%252Ff314406294%26relation%3Dparent.parent&container_width=260&height=320&hide_cover=true&href=https%3A%2F%2Fwww.facebook.com%2FKidZaniaMoscow&locale=en_US&sdk=joey&show_facepile=true&show_posts=true&small_header=true', style='border: none; visibility: visible; width: 260px; height: 320px;')
        .follow-widgets-item
          iframe#vkwidget1(name='fXD8894f', frameborder='0', src='https://vk.com/widget_community.php?app=0&width=260px&_ver=1&gid=76006204&mode=2&color1=&color2=&color3=&class_name=&height=320&url=https%3A%2F%2Fkidzania.ru%2Fru%2Fabout%2F&referrer=https%3A%2F%2Fkidzania.ru%2Fru%2F&title=%D0%A7%D1%82%D0%BE%20%D1%82%D0%B0%D0%BA%D0%BE%D0%B5%20%D0%9A%D0%B8%D0%B4%D0%B7%D0%B0%D0%BD%D0%B8%D1%8F%3F&153e1dfe79e', width='260', height='200', scrolling='no', style='overflow: hidden; height: 320px;')
        .follow-widgets-item.
          <a class="twitter-timeline" href="https://twitter.com/KidZaniaMoscow" data-widget-id="717382636524736512">Твиты от @KidZaniaMoscow</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        .follow-widgets-item.hash
          span.follow-widgets-item-hash #kidzaniamoscow
          span.follow-widgets-item-more Используй наш официальный хештег

  section.ticket
    .content.is__left
      .ticket-holder
        .ticket-item
          .ticket-item-logo
          .ticket-item-contacts-info
            .ticket-item-adress Москва, Ходынский б-р, 4, ТЦ «Авиапарк», 4-й этаж
            .ticket-item-contacts
              span.ticket-item-contacts-phone +7 495 232-54-39
              a.ticket-item-contacts-mail(href='mailto:rusfond@rusfond.ru') kai@kidzania.ru
              .ticket-item-contacts-social
                a.social-item.icon-vkontakte(href="#")
                a.social-item.icon-facebook(href="#")
                a.social-item.icon-instagram(href="#")
        .ticket-item
          h3.ticket-item-title Билеты офлайн
          p Билеты можно приобрести в парке.
          p Парк работает ежедневно. Время работы парка:
          ul.ticket-item-time-holder
            li.ticket-item-time-item
              p.ticket-item-time-text Понедельник—четверг
                span 10:00—20:00
            li.ticket-item-time-item
              p.ticket-item-time-text Пятница и суббота
                span 10:00—21:00
            li.ticket-item-time-item
              p.ticket-item-time-text Воскресенье
                span 10:00—20:00
          p Групповые посещения принимаются только по предварительному бронированию по телефону: 
            span.ticket-item-contacts-phone +7 495 232-54-39
        .ticket-item
          h3.ticket-item-title Онлайн-бронирование
          ul.ticket-item-categories-holder
            li.ticket-item-category
              img.ticket-item-category-image--left(src="assets/images/icons/t1.png")
              p.ticket-item-category-text Взрослый
                span 800 ₽
            li.ticket-item-category
              img.ticket-item-category-image--left(src="assets/images/icons/t4.png")
              p.ticket-item-category-text Детский 0+
                span Бесплатно
            li.ticket-item-category
              img.ticket-item-category-image--left(src="assets/images/icons/t2.png")
              p.ticket-item-category-text Детский 2+
                span 720 ₽
            li.ticket-item-category
              img.ticket-item-category-image--left(src="assets/images/icons/t5.png")
              p.ticket-item-category-text Детский 4+
                span 1200 ₽
            li.ticket-item-category
              img.ticket-item-category-image--left(src="assets/images/icons/t3.png")
              p.ticket-item-category-text Люди с инвалидностью
                span 720 ₽
          a.ticket-buy(href="#") Купить билет онлайн













